.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.flex-vertical {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
}

.flex-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.flex-middle {
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
}

.flex-center {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-pack: center;
}

.flex-around {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.border-t, .border-b, .border-1px-bottom, .border-right1 {
    position: relative;
}

.border-t:before, .border-b:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #ddd;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.border-right1:after {
    content: "  ";
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    border-right: 1px solid #ddd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5, .5);
    transform: scale(.5, .5);
}

.border-1px-bottom:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
}

.border-b:after {
    top: auto;
    bottom: 0;
}

.cl-f:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}

[v-cloak] {
    display: none;
}

.active {
    opacity: 0.8;
}

input {
    outline: none;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #00acff;
    border-radius: 5px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #00acff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 172, 255, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 172, 255, .6);
}

/*省略号*/
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*width:  ;*/
}

.ellipsis-1 {
    display: -webkit-box;
    white-space: normal !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis-2 {
    display: -webkit-box;
    white-space: normal !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
